.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  width: 30vw;
  height: 30vh;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
  animation: aparecer .2s ease;
}

@keyframes aparecer {
  from {
    transform: scale(.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.acciones {
  margin-top: 15vh;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.btn-cancelar {
  padding: 1rem 2rem;
  background-color: rgba(90, 90, 90, 0.2);
  color: #172579;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-eliminar {
  background-color: yellow;
  color: #172579;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
}